html,
body,
#index,
#intro {
	height: 100%;
	font-family: font92684;
}

#intro {
	background: url("/assets/pictures/landingImage.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.navbar {
	background: rgba(0, 0, 0, 0.8);
	color: white;
}

#startButton {
	border-radius: 15px;
	font-size: 18px;
	padding: 5px 10px 5px 10px;
}

#profilePic {
	width: 300px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.projectPic {
	height: 100%;
	width: 100%;
}
